body{
    background: aqua;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    min-height: 100vh;
}
.container{
    border: 2px solid #000000;
    border-radius: 20px;
    background: #0a1c26;
    backdrop-filter: blur(10px);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 20px;
    
}
#display{
    width: 300px;
    font-size: 50px;
    border: 2px solid #000000;
    border-radius: 15px;
    color: #fff;
    background: #595959;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    text-align: right;
}
input::placeholder{
    color: #fff;
}
button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    background: #838385;
    color: #fff;
    transition:  linear .4s;
}
button:hover{
    background-color: #fff;
    color: #000000;
}
.operator{
    color: #02dcd5;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;

}
.ac, .del{
    font-size: 20px;
}
.equal{
    background: #03bcb7;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}